{%extends 'layout/base.html' %}

{%block content%}
<h1 class="text-center">Login</h1>
<form method="post" action="/login">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Enter user" name="username">
        <label for="username">Email</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        <label for="pwd">Password</label>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</form>


{%endblock%}